.brand-sidebar {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  /* position: sticky; */
  top: 80px;
  height: fit-content;
  width: 300px;
}

.brand-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

.brand-item {
  padding: 8px 0;
  cursor: pointer;
  color: #333;
}

.brand-item:hover {
  color: #0d6efd;
  font-weight: 500;
}
